base64 encodings should be line-broken

Per section 6.8 of [RFC2045](https://tools.ietf.org/html/rfc2045) which defines the Content-Transfer-Encoding header:

> The encoded output stream must be represented in lines of no more than 76 characters each. All line breaks or other characters not found in Table 1 must be ignored by decoding software.

Currently, no line breaks appear in base64-encoded output. 

All base64-encoded output used in a message with a Content-Transfer-Encoding value of base64 should be broken into lines of 76 or less characters.

Note that [RFC 8951](https://datatracker.ietf.org/doc/html/rfc8951) subsequently (in November 2020) updated RFC 7030 to require all endpoints to ignore the value in any Content-Transfer-Encoding header, and to specifically confirm that:

> Senders are not required to insert any kind of white space.

PR #31 has been raised to deprecate the Content-Transfer-Encoding header per RFC 8951